.aside-bar {
  $aside-bar-margin-size: 10px;

  @include flexbox(between, start);
  @include text-style(13);
  width: 100%;
  opacity: 0;

  &-left {
    writing-mode: vertical-rl;

    a {
      margin-top: $aside-bar-margin-size;
      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: $hover-opacity;
      }
    }
  }

  &-right {
    @include column-flexbox(center);

    button {
      @include flexbox(end);
      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: $hover-opacity;
      }
    }

    button:not(:first-child) {
      width: 100%;
      margin-top: $aside-bar-margin-size;
    }
  }

  @include responsive(D) {
    opacity: 1;
  }
}
