$logo-font-family: "Playfair Display", serif;
$contents-font-family: "Rubik", sans-serif;

$logo-font-size: 24px;
$logo-line-height: 100%;
$logo-letter-spacing: 0.05em;

$xs-font-size: 18px;
$xs-line-height: 32px;
$xs-letter-spacing: 6px;

$md-font-size: 24px;
$md-line-height: 32px;
$md-letter-spacing: 0px;

$lg-font-size: 64px;
$lg-line-height: 100%;
$lg-letter-spacing: 6px;

$xl-font-size: 88px;
$xl-line-height: 100px;
$xl-letter-spacing: 6px;

$xxl-font-size: 240px;
$xxl-line-height: 240px;
$xxl-letter-spacing: 0px;
