#start {
  position: relative;

  .start-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent 50%,
      $background-color
    );
  }

  .mountain-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .col-sm-4 {
    position: relative;
    top: -50px;

    .content-box {
      @include pos-center();
    }
  }

  @include responsive(D) {
    .content-box {
      .subtitle {
        font-size: 34px;
        line-height: 50px;
      }
    }
  }
}
